opencv-python==4.5.3.56
pandas==1.1.5
pickle5==0.0.12
Pillow==9.1.0
scikit-learn==0.19.2
scipy==1.1.0
tensorboard==2.9.1
tensorboardX==2.4
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
traj-dist==1.15
yarl==1.8.1
